@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Общие стили */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.auto-mid {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    background-color: #030712;
    color: #d1d5db;
    width: 1280px;
    margin: 0 auto;
}

.section-about,
.section-experience,
.section-testimonials {
    background-color: #111827;
}

section {
    padding: 96px 80px;
}

section>div {
    padding: 0 32px;
}

a {
    color: #d1d5db;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 72px;
    letter-spacing: -2%;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -2%;
}

h3 {
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 24px;
    line-height: 36px;
    letter-spacing: -2%;
}

h4 {
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 16px;
    line-height: 28px;
}

.button-center {
    display: block;
    text-align: center;
    margin-bottom: 48px;
}

.button-center p:first-child {
    display: inline-block;
}

.button-center p:last-child {
    margin-top: 16px;
}

.button {
    /* width: 105px; */
    text-decoration: none;
    border: 1 px solid #374151;
    background-color: #374151;
    color: #d1d5db;
    border-radius: 10px;
    padding: 4px 20px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

/* Стили для HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 80px;
    padding: 16px 32px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    margin-right: 24px;
    font-weight: 500;
}

.header-nav ul {
    list-style: none;
    display: flex;
}

.header-nav ul li a {
    text-decoration: none;
    margin-right: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition: color 0.3s;
}

.header-nav ul li a:hover {
    color: #f9fafb;
}

.header-nav ul li a:active {
    color: #d1d5db;
}

.header-theme-icon {
    display: flex;
}

.header-theme-icon a {
    padding: 6px;
    height: auto;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.header-theme-icon a:hover {
    background-color: #1f2937;
}

.header-theme-icon a:active {
    background-color: #374151;
}

.header-theme-icon img {
    vertical-align: middle;
}

.header-theme-button {
    margin-left: 16px;
}

.header-theme-button a {
    text-decoration: none;
    border: 1 px solid #f9fafb;
    background-color: #f9fafb;
    color: #111827;
    border-radius: 11px;
    padding: 6px 16px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.header-theme-button a:hover {
    background-color: #e5e7eb;
}

.header-theme-button a:active {
    background-color: #f3f4f6;
}

.line {
    color: #1f2937;
}

/* Стили для SECTION-ONE */
.one {
    display: flex;
    justify-content: space-between;
}

.one-text {
    width: 768px;
}

.text-block {
    margin-bottom: 48px;
}

.text-block div:first-child {
    display: flex;
}

.swing {
    animation-name: swing;
    animation-duration: 1.2s;
    animation-iteration-count: 3;
}

.grid {
    display: grid;
    grid-template-columns: 24px 5fr;
    grid-template-rows: 24px;
    gap: 8px;
    align-items: stretch;
}

.grid a {
    text-decoration: none;
}

.grid div:nth-child(odd) {
    justify-self: center;
}

.socials {
    display: flex;
}

.socials li {
    display: flex;
    list-style: none;
    margin-right: 4px;
}

.socials li a {
    padding: 6px;
    border-radius: 8px;
    height: auto;
    transition: background-color 0.3s;
}

.socials li a:hover {
    background-color: #1f2937;
}

.socials li a img {
    vertical-align: middle;
}

.one-photo>img {
    box-shadow: 40px 40px #374151;

}

/* Стили для SECTION-ABOUT */
.about-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-items-photo>img {
    box-shadow: -40px 40px #374151;
}

.about-items-text p {
    margin-bottom: 16px;
}

.about-items-text p:last-child {
    margin-bottom: 0;
}

.about-items-text a {
    transition: color 0.3s;
}

.about-items-text a:hover {
    color: #f9fafb;
}

.about-items-text a:active {
    color: #d1d5db;
}


.about-text-ul {
    display: flex;
    list-style-position: inside;
}

.about-text-ul li {
    width: 287px;
    padding-left: 9px;
}

/* Стили для SECTION-SKILLS */
.skills-items {
    display: flex;
    flex-wrap: wrap;
}

.skills-items-block {
    display: flex;
    justify-content: space-between;
    width: 1216px;
}

.skills-item {
    display: grid;
    justify-items: center;
}

.skills-item img {
    margin-bottom: 8px;
    transition: transform 0.4s;
}

.skills-item img:hover {
    transform: scale(1.1);
}

.skills-items-block:first-child {
    margin-bottom: 48px;
}

/* Стили для SECTION-EXPERIENCE */
.experience-items {
    padding: 0 160px;
}

.experience-item {
    background-color: #1f2937;
    border-radius: 10px;
    margin-bottom: 48px;
    display: flex;
    padding: 32px;
    justify-content: space-between;
}

.experience-item:last-child {
    margin-bottom: 0;
}

.experience-item-left {
    width: 206px;
}

.experience-item-middle {
    width: 384px;
}

.experience-item-middle ul {
    list-style-position: inside;
}

.experience-item-middle ul li {
    margin-bottom: 4px;
}

.experience-item-middle ul li:last-child {
    margin-bottom: 0px;
}

/* Стили для SECTION-WORK */
.work-item {
    display: flex;
}

.work-item-img {
    background-color: #374151;
    padding: 48px;
    border-radius: 10px 0 0 10px;
}

.work-item-img img {
    width: 480px;
    border-radius: 10px;
    transition: transform 0.4s;
}

.work-item-img img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.work-item-text {
    background-color: #1f2937;
    border-radius: 0 10px 10px 0;
    padding: 48px;
}

.work-item-text a:hover {
    background-color: #111827;
}

.work-item-text h4,
.work-item-text p {
    margin-bottom: 24px;
    width: 480px;
}

.work-item-text div {
    display: flex;
}

.work-item-text div a {
    border-radius: 8px;
    transition: background-color 0.3s;
    height: auto;
    padding: 6px;
}

.work-item-text div img {
    vertical-align: middle;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
}

.work-list span {
    width: auto;
    margin-right: 8px;
    margin-bottom: 8px;
}

.work-list span:last-child,
.work-list span:nth-last-child(2) {
    margin-bottom: 0;
}

.border-radius-right {
    border-radius: 0 10px 10px 0;
}

.border-radius-left {
    border-radius: 10px 0 0 10px;
}

.margin-tb-48 {
    margin: 48px 0;
}

/* Стили для SECTION-TESTIMONIALS */
.testimonials-items {
    display: grid;
    gap: 48px;
    grid-template-columns: 1fr 1fr 1fr;
}

.testimonials-item {
    background-color: #1f2937;
    border-radius: 10px;
    text-align: center;
    padding: 48px;
}

.testimonials-item h4 {
    margin-bottom: 0;
}

.testimonials-item p:first-of-type {
    padding: 24px 0;
    text-align: left;
}

.body3 {
    font-size: 14px;
    line-height: 20px;
}

/* Стили для SECTION-LAST */
.section-last .button-center p:last-child {
    font-size: 20px;
    line-height: 28px;
}

.last-contacts {
    margin: 48px 0;
    text-align: center;
}

.last-contacts h2:first-child {
    margin-bottom: 18px;
}

.last-contacts img {
    vertical-align: middle;
}

.mb20 {
    margin: 0 20px;
}

.last {
    text-align: center;
}

.last .socials {
    justify-content: center;
    margin-top: 8px;
}

.last-contacts h2 {
    display: flex;
    justify-content: center;
}

.last-contacts h2 a {
    border-radius: 8px;
    transition: background-color 0.3s;
    height: 32px;
    padding: 6px;
    display: flex;
}

.last-contacts h2 a:hover {
    background-color: #1f2937;
}

.last-contacts h2 a img {
    vertical-align: middle;
}

/* Стили для FOOTER */
footer {
    text-align: center;
    padding: 24px 0;
    background-color: #111827;
}

footer a {
    transition: color 0.3s;
}

footer a:hover {
    color: #f9fafb;
}

footer img {
    vertical-align: middle;
}

/* .light-theme {
    color: #111827;
    background-color: #ffffff;
} */